#Warning{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: rgba(229, 46, 5,0.5);
    opacity: 0.0;
}

.unblur{
	background: url("../images/back.png") no-repeat center center;
	background-attachment: fixed;
	z-index: -2;
}
.blurred{
	background: url("../images/back-blurred.jpg") no-repeat center center;
	background-attachment: fixed;
	opacity: 0;
	z-index: -1;
}
.back-ground{
	background-size: cover;
 	position: fixed;
 	width: 100%;
 	height: 100%;
}

.jumbotron{
    position: relative;
    width: 100%;
	height: 100vh;
 	background-color: transparent !important;
 	display:flex;
 	justify-content:center;
    align-items:center;
}
.jumbotron h1{
	color: #78FFCD;
}

/*HINT BADGE*/
.Badge {
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 50%;
    height: 90%;
    position: absolute;
    left: 50%;
    
}
h4 {
    font-size: 25px;
}
h4 span{
    font-family: 'PT Mono', monospace;
    height: 50%;
    position: absolute;
    width: 5%;
    transform-origin: bottom center;
    z-index: -25;
}
#Hint0{
    z-index: -25;
}
#Hint1{
    z-index: -25;
}
#Hint2{
    z-index: -25;
}
#Hint3{
    z-index: -25;
}
#Hint4{
    z-index: -25;
}
a {
    text-decoration: none;
}
.Hint a{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 30px #78FFCD, 0 0 40px #78FFCD;
}
.Hint a:hover {
    color: #78FFCD;
    text-shadow: none;
}
.char0{ transform: rotate(3deg);}
.char1{ transform: rotate(6deg);}
.char2{ transform: rotate(9deg);}
.char3{ transform: rotate(12deg);}
.char4{ transform: rotate(15deg);}
.char5{ transform: rotate(18deg);}
.char6{ transform: rotate(21deg);}
.char7{ transform: rotate(24deg);}
.char8{ transform: rotate(27deg);}
.char9{ transform: rotate(30deg);}
.char10{ transform: rotate(33deg);}
.char11{ transform: rotate(36deg);}
.char12{ transform: rotate(39deg);}
.char13{ transform: rotate(42deg);}
.char14{ transform: rotate(45deg);}
.char15{ transform: rotate(48deg);}
.char16{ transform: rotate(51deg);}
.char17{ transform: rotate(54deg);}
.char18{ transform: rotate(57deg);}
.char19{ transform: rotate(60deg);}
.char20{ transform: rotate(63deg);}
.char21{ transform: rotate(66deg);}
.char22{ transform: rotate(69deg);}
.char23{ transform: rotate(72deg);}
.char24{ transform: rotate(75deg);}
.char25{ transform: rotate(78deg);}
.char26{ transform: rotate(81deg);}
.char27{ transform: rotate(84deg);}
.char28{ transform: rotate(87deg);}
.char29{ transform: rotate(90deg);}
.char30{ transform: rotate(93deg);}
.char31{ transform: rotate(96deg);}
.char32{ transform: rotate(99deg);}
.char33{ transform: rotate(102deg);}
.char34{ transform: rotate(105deg);}
.char35{ transform: rotate(108deg);}
.char36{ transform: rotate(111deg);}
.char37{ transform: rotate(114deg);}
.char38{ transform: rotate(117deg);}
.char39{ transform: rotate(120deg);}
.char40{ transform: rotate(123deg);}
.char41{ transform: rotate(126deg);}
.char42{ transform: rotate(129deg);}
.char43{ transform: rotate(132deg);}
.char44{ transform: rotate(135deg);}
.char45{ transform: rotate(138deg);}
.char46{ transform: rotate(141deg);}
.char47{ transform: rotate(144deg);}
.char48{ transform: rotate(147deg);}
.char49{ transform: rotate(150deg);}
.char50{ transform: rotate(153deg);}
.char51{ transform: rotate(156deg);}
.char52{ transform: rotate(159deg);}
.char53{ transform: rotate(162deg);}
.char54{ transform: rotate(165deg);}
.char55{ transform: rotate(168deg);}
.char56{ transform: rotate(171deg);}
.char57{ transform: rotate(174deg);}
.char58{ transform: rotate(177deg);}
.char59{ transform: rotate(180deg);}
.char60{ transform: rotate(183deg);}
.char61{ transform: rotate(186deg);}
.char62{ transform: rotate(189deg);}
.char63{ transform: rotate(192deg);}
.char64{ transform: rotate(195deg);}
.char65{ transform: rotate(198deg);}
.char66{ transform: rotate(201deg);}
.char67{ transform: rotate(204deg);}
.char68{ transform: rotate(207deg);}
.char69{ transform: rotate(210deg);}
.char70{ transform: rotate(213deg);}
.char71{ transform: rotate(216deg);}
.char72{ transform: rotate(219deg);}
.char73{ transform: rotate(222deg);}
.char74{ transform: rotate(225deg);}
.char75{ transform: rotate(228deg);}
.char76{ transform: rotate(231deg);}
.char77{ transform: rotate(234deg);}
.char78{ transform: rotate(237deg);}
.char79{ transform: rotate(240deg);}
.char80{ transform: rotate(243deg);}
.char81{ transform: rotate(246deg);}
.char82{ transform: rotate(249deg);}
.char83{ transform: rotate(252deg);}
.char84{ transform: rotate(255deg);}
.char85{ transform: rotate(258deg);}
.char86{ transform: rotate(261deg);}
.char87{ transform: rotate(264deg);}
.char88{ transform: rotate(267deg);}
.char89{ transform: rotate(270deg);}
.char90{ transform: rotate(273deg);}
.char91{ transform: rotate(276deg);}
.char92{ transform: rotate(279deg);}
.char93{ transform: rotate(282deg);}
.char94{ transform: rotate(285deg);}
.char95{ transform: rotate(288deg);}
.char96{ transform: rotate(291deg);}
.char97{ transform: rotate(294deg);}
.char98{ transform: rotate(297deg);}
.char99{ transform: rotate(300deg);}
.char100{ transform: rotate(303deg);}
.char101{ transform: rotate(306deg);}
.char102{ transform: rotate(309deg);}
.char103{ transform: rotate(312deg);}
.char104{ transform: rotate(315deg);}
.char105{ transform: rotate(318deg);}
.char106{ transform: rotate(321deg);}
.char107{ transform: rotate(324deg);}
.char108{ transform: rotate(327deg);}
.char109{ transform: rotate(330deg);}
.char110{ transform: rotate(333deg);}
.char111{ transform: rotate(336deg);}
.char112{ transform: rotate(339deg);}
.char113{ transform: rotate(342deg);}
.char114{ transform: rotate(345deg);}
.char115{ transform: rotate(348deg);}
.char116{ transform: rotate(351deg);}
.char117{ transform: rotate(354deg);}
.char118{ transform: rotate(357deg);}
.char119{ transform: rotate(360deg);}

/*HINT BADGE*/

.paragraph{
    width: 100%;
	color: #78FFCD;
	background-color: transparent;
	text-align: center;
}
/**************************************************************上面是背景模糊************************************************************************/

h2{
	font-size: 50px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif, Meiryo, "微軟正黑體", "Microsoft JhengHei";
    color: white;
}

/*Screen*/
.Screen{
    height: 300px;
}
.list-container{
	width: 100%;
	height: 200px;
	display: block;
	margin: auto;
}
.ScoreBoard{
	width: 100%;
	height: 200px;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
tbody {
    display:block;
    height:250px;
    overflow:auto;
}
table th{
	text-align: center;
}
.form-group{
	width: 10%;
	margin: auto;
}

.result-container{
	width: 100%;
	height: 50px;
}
.score-container{
	width: 100%;
	height: 50px;
}
/*Screen*/

.button{
	margin-bottom: 50px;
}
/*BUTTON*/
:root {
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
    /*FOR HINT*/
    --btn-w-H: 5em;
    --dot-w-H: calc(var(--btn-w)*.2);
    --tr-X-H: calc(var(--btn-w-H) - var(--dot-w-H));
    /*FOR HINT*/
}
        /*HINT*/
.HINT{
    position: relative;
    margin: 0 auto;
    width: var(--btn-w-H);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
    z-index: -25;
}
.dotH {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w-H);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}
.dotH:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
                0 0 2em var(--primary);
}
.HINT:hover .dotH,
.HINT:focus .dotH {
    animation: atomH 1.5s infinite linear;
    display: block;
}
@keyframes atomH {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X-H)) rotate(0);}
    50% {transform: translateX(var(--tr-X-H)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
}
        /*HINT*/
.btn1 {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;    
}
.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}
.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
                0 0 2em var(--primary);
}
.btn1:hover .dot,
.btn1:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}
@keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
}
/*BUTTON*/

/*INPUT.CSS*/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #78FFCD;
    color: #78FFCD;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif, Meiryo, "微軟正黑體", "Microsoft JhengHei";
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #78FFCD;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}
            
            /* Kozakura */
.input--kozakura {
    overflow: hidden;
    padding-bottom: 1em;
}

.input__field--kozakura {
    padding: 0.25em 0.5em;
    margin-top: 1.25em;
    width: 100%;
    background: transparent;
    color: #78FFCD;
    font-size: 1.55em;
    opacity: 0;
}

.input__label--kozakura {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 1em;
    pointer-events: none;
    overflow: hidden;
    padding: 0 0.25em;
    -webkit-transform: translate3d(1em, 2.75em, 0);
    transform: translate3d(1em, 2.75em, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label-content--kozakura {
    color: #090260;
    padding: 0.4em 0 0.25em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label-content--kozakura::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 0.25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.graphic--kozakura {
    fill: rgba(120, 255, 205,0.5);
    pointer-events: none;
    top: 1em;
    bottom: 0px;
    height: 4.5em;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
    transition: transform 0.7s, fill 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
    -webkit-transition: opacity 0s 0.35s;
    transition: opacity 0s 0.35s;
    opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
    fill: rgba(10, 8, 68,0.5);
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}
/*INPUT.CSS*/